body {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

header {
    width: 1020px;
    height: 95px;
    background: #323232;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

header nav {
    font-family: Lato;
    margin-top: 0 auto;
}

.span1 {
    color: #494e62;
    margin-left: 9px;
}

.logo {
    width: 50%;
    margin-top: 29px;
    margin-left: 41px;
    letter-spacing: -1px;
}

.logo__singolo {
    font-family: Lato;
    text-decoration: none;
    font-size: 25px;
    color: white;
    margin-top: 0 auto;
    padding-top: 9px;
}

.logo__singolo2 {
    font-family: Lato;
    text-decoration: none;
    font-size: 25px;
    color: #f06c64;
    margin-top: 0 auto;
    padding-top: 9px;
}

.header-line {
    font-family: Lato;
    align-self: flex-end;
}

header nav a {
    font-family: Lato;
    text-decoration: none;
    font-size: 12px;
    color: white;
    margin-top: 0 auto;
    padding-top: 9px;
}

.menu {
    margin-top: 38px;
    margin-left: 57px;
}

.menu__services,
.menu__portfolio,
.menu__about,
.menu__contact {
    margin-left: 8px;
}

header nav a:hover {
    color: #f06c64;
}

.slider {
    width: 1020px;
    height: 600px;
    background: #f06c64;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.slider__bottom {
    align-self: flex-end;
    height: 6px;
}

.services {
    width: 1020px;
    height: 502px;
    background: #f2f2f2;
    margin: 0 auto;
}

.services__text {
    width: 940px;
    margin: 0 auto;
    font-family: Lato;
    color: #666d89;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.services__our-services h2 {
    font-size: 30px;
    line-height: 18px;
}

.services__image-custom-design {
    align-self: flex-start;
    align-items: baseline;
    width: 80px;
}

.services__custom-design,
.services__inovative-ideas,
.services__love-is,
.services__responsive-layout,
.services__247,
.services__feel-like {
    width: 240px;
}

@font-face {
    font-family: "Lato";
    src: url("assets/Lato-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}